
$primary-color: #6C63FF;
$secondary-color: #2c3e50;
$background-color: #1C1C24;
$text-color: #ffffff;
$highlight-color: #8e44ad;
$gradient:  rgb(0,74,255)linear-gradient(38deg, rgba(0,74,255,1) 0%, rgba(125,16,204,1) 59%, rgba(161,0,255,1) 100%);
$background-button : linear-gradient(45deg, #5151f1, #da64da);
$footer-bg: #f8f8f8;
$text-color: #333;
$link-hover-color: #007bff;
$footer-padding: 20px;
$container-max-width: 1200px;       